<div class="jumbotron">
<h1>Cosmic garden</h1>
<p>7th exo-planet</p>
<%= link_to 'About me', home_about_path, class: 'btn btn-default' %>
<%= link_to 'Home page', root_path, class: 'btn btn-primary' %>
</div>